/*project*/
main.project .card-controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main.project .cards {
  --card-margin: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc(var(--card-margin) * -1);
}

main.project .card {
  width: calc(50% - var(--card-margin) * 2);
  padding: 10px;
  margin: var(--card-margin);
  position: relative;
}

main.project .card .info .title {
  font-family: "Alexandria", "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding: 5px 20px;
  text-align: center;
}

main.project .card .info .type {
  display: inline-block;
  padding: 4px 6px;
  font-size: 12px;
  background-color: var(--main-color);
  color: white;
  letter-spacing: 0.2em;
  position: absolute;
  top: 0;
  left: 0;
}

main.project .card img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  main.project .card-controller {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 99;
  }
  main.project .card-controller .custom-select {
    width: calc(50% - 2px);
  }
}

@media screen and (min-width: 768px) {
  main.project .card-controller .custom-select {
    margin-right: 10px;
  }
  main.project .card {
    width: calc(33% - var(--card-margin) * 2);
  }
}

@media screen and (min-width: 900px) {
  main.project .card {
    width: calc(25% - var(--card-margin) * 2);
  }
}

@media screen and (min-width: 1280px) {
  main.project .card {
    width: calc(20% - var(--card-margin) * 2);
  }
}

/*project-DETAIl*/
main.project-detail .main-block {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

main.project-detail .project-info {
  padding: 10px;
}

main.project-detail .project-info > .title {
  margin-left: -10px;
}

main.project-detail .project-info > .title h2 {
  color: var(--main-color);
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.2em;
  border: 2px var(--main-color) dashed;
  padding: 5px 10px;
}

main.project-detail .project-info > .title p {
  border: 2px var(--main-color) dashed;
  font-weight: 700;
  padding: 5px 10px;
  font-size: 16px;
  border-top: none;
  display: inline-block;
}

main.project-detail .project-info #desc-handler,
main.project-detail .project-info .btn-desc {
  display: none;
}

main.project-detail .project-info .descriptions {
  font-size: 14px;
  letter-spacing: 0.2em;
  color: var(--main-color);
}

main.project-detail .project-info .descriptions .title {
  padding: 5px 10px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
  border: 2px var(--main-color) dashed;
}

main.project-detail .project-info .descriptions .text {
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  word-break: break-all;
}

main.project-detail .project-info .descriptions .text p::before {
  content: "";
  margin-right: 1em;
}

main.project-detail .project-info .descriptions .text p + p {
  margin-top: 10px;
}

main.project-detail .project-info .descriptions .description {
  margin: 20px 0px;
}

main.project-detail .project-info a.link {
  background-color: var(--main-color);
  display: block;
  color: white;
  padding: 10px 20px;
  font-weight: 900;
  text-align: center;
}

main.project-detail .project-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  --margin: 2px;
}

main.project-detail .project-pic .col-1, main.project-detail .project-pic .col-2, main.project-detail .project-pic .col-3 {
  width: calc(100% - 2 * var(--margin));
  margin: var(--margin);
  vertical-align: baseline;
}

main.project-detail .project-pic .col-1 {
  width: calc(100% / 3 - 2 * var(--margin));
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}

main.project-detail .project-pic .col-2 {
  width: calc(100% * 2 / 3 - 2 * var(--margin));
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 2/1;
}

main.project-detail .project-pic .col-3 {
  width: calc(100% - 2 * var(--margin));
}

main.project-detail .project-pic iframe {
  width: calc(100% - 2 * var(--margin));
  aspect-ratio: 16/9;
  margin: var(--margin);
}

@media screen and (max-width: 767px) {
  main.project-detail .project-info .descriptions {
    max-height: calc(20px + 27.6px + 2 * 20px);
    overflow: hidden;
    -webkit-transition: max-height 1s linear;
    transition: max-height 1s linear;
  }
  main.project-detail .project-info #desc-handler:checked ~ .descriptions {
    max-height: 200vh;
    -webkit-transition: max-height 2s linear;
    transition: max-height 2s linear;
  }
  main.project-detail .project-info .btn-desc {
    position: relative;
    margin-top: 15px;
    margin-bottom: 5px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.project-detail .project-info .btn-desc::before {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 2px dashed black;
  }
  main.project-detail .project-info .btn-desc p {
    position: relative;
    z-index: 2;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 0px 10px;
    line-height: 20px;
  }
  main.project-detail .project-info .btn-desc p::before {
    content: "More";
    padding-right: 0.5em;
  }
  main.project-detail .project-info #desc-handler:checked ~ .btn-desc i {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  main.project-detail .project-info #desc-handler:checked ~ .btn-desc p::before {
    content: "Close";
  }
  main.project-detail .project-info .tags {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  main.project-detail .orb-canvas {
    margin-right: 40%;
  }
  main.project-detail .project-block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main.project-detail .project-block .project-info {
    width: 40%;
    max-width: 450px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main.project-detail .project-block .project-info .descriptions {
    font-size: 16px;
  }
  main.project-detail .project-block .project-info .descriptions .text {
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
  }
  main.project-detail .project-block .project-pic {
    width: 60%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  main.project-detail .tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }
  main.project-detail .tags .tag {
    font-family: "Alexandria", "Noto Sans TC", sans-serif;
    border: 1px dashed black;
    color: black;
    font-size: 14px;
    padding: 2px 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    opacity: .8;
  }
}
/*# sourceMappingURL=project.css.map */